@import "tailwindcss";

body {
  background-color: #282C34;
  color: azure;
}

@theme {
  --color-objeto-predeterminado: #FFFFFF1F;
  --color-jugador-rojo: #d615ba;
  --color-jugador-verde: #89CA62;
}